*.swp
~*
*~
_site
.sass-cache
.jekyll-cache
.jekyll-metadata
*.xml
vendor
_notebooks/.ipynb_checkpoints
# Local Netlify folder
.netlify
.tweet-cache
__pycache__
settings.ini
Gemfile.lock
images/copied_from_nb/
_posts/2022-08-28-bash_tool_check.md
_posts/2022-09-03-list_dictionary.md